In [1]:
import pandas as pd

In [2]:
test = pd.read_csv("./data/SampleSubmission.csv")
test

                            customerid  Good_Bad_flag
0     8a28afc7474813a40147639ec637156b              1
1     8a3735d5518aba7301518ac34413010d              1
2     8a76e7d443e6e97c0143ed099d102b1d              1
3     8a818823525dceef01525deda2480384              1
4     8a818926522ea5ef01523aff15c37482              1
...                                ...            ...
1445  8a858fff5a36fe68015a3744f0021e89              1
1446  8aaae7a74400b28201441c8b62514150              1
1447  8aab10f748cf78ff0148d11fac1447a6              1
1448  8aab160f499477da014999ba2f0f578b              1
1449  8addcb0645aff34b0145b25fe1616ee0              1

[1450 rows x 2 columns]

In [3]:
izy = pd.read_csv("./testdata.csv")
izy

,customerid,loannumber,loanamount,totaldue,termdays,age,loan_interest,loan_received,amount_received,min_amount_received,...,employment_status_clients_Permanent,employment_status_clients_Retired,employment_status_clients_Self-Employed,employment_status_clients_Student,employment_status_clients_Unemployed,level_of_education_clients_Graduate,level_of_education_clients_Post-Graduate,level_of_education_clients_Primary,level_of_education_clients_Secondary,level_of_education_clients_Undefined
0,8a28afc7474813a40147639ec637156b,11,25000,27500.0,30,32.618182,10.0,10.0,178000.0,8000.0,...,0,0,0,0,1,0,0,0,0,1
1,8a3735d5518aba7301518ac34413010d,7,20000,24500.0,30,32.618182,22.5,6.0,70000.0,10000.0,...,0,0,0,0,1,0,0,0,0,1
2,8a76e7d443e6e97c0143ed099d102b1d,6,20000,24500.0,30,32.618182,22.5,2.0,20000.0,10000.0,...,0,0,0,0,1,0,0,0,0,1
3,8a818823525dceef01525deda2480384,10,40000,48000.0,60,32.618182,20.0,9.0,170000.0,5000.0,...,0,0,0,0,1,0,0,0,0,1
4,8a818926522ea5ef01523aff15c37482,3,20000,24500.0,30,32.618182,22.5,2.0,20000.0,10000.0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,8a858fff5a36fe68015a3744f0021e89,6,20000,24500.0,30,32.618182,22.5,5.0,65000.0,10000.0,...,0,0,0,0,1,0,0,0,0,1
1446,8aaae7a74400b28201441c8b62514150,4,10000,13000.0,30,32.618182,30.0,3.0,30000.0,10000.0,...,0,0,0,0,1,0,0,0,0,1
1447,8aab10f748cf78ff0148d11fac1447a6,2,10000,13000.0,30,41.000000,30.0,1.0,10000.0,10000.0,...,1,0,0,0,0,0,0,1,0,0
1448,8aab160f499477da014999ba2f0f578b,4,20000,23000.0,30,32.618182,15.0,3.0,30000.0,10000.0,...,0,0,0,0,1,0,0,0,0,1
1449,8addcb0645aff34b0145b25fe1616ee0,5,20000,24500.0,30,32.618182,22.5,4.0,40000.0,10000.0,...,0,0,0,0,1,0,0,0,0,1

In [7]:
r = pd.read_csv("./submission.csv")
list(r["bad_good_flag"]).count(1)

1366

In [8]:
list(r["bad_good_flag"]).count(0)

84